.slider4{
    width: 100%;
    /* max-width: 100vw; */
    height: 200px;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  .slider4 .list4{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
  }
  .slider4 .list4 img{
    width: 100%;
    /* max-width: 100vw; */
    height: 100%;
    object-fit: cover;
  }
  .slider4 .buttons4{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .slider4 .buttons4 button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff5;
    color: rgb(27, 27, 27);
    border: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 25px;
  }
  .slider4 .dots4{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .slider4 .dots4 li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: rgb(63, 63, 63);
    margin: 10px;
    border-radius: 50px;
    transition: 0.5s;
  }
  .slider4 .dots4 li.active4{
    width: 30px;
  }